body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.header,
.hero-section {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 80vw;
}

.header-content,
.hero-content {
    width: 80vw;
}

.header-links a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links ul {
    display: flex;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text-container p {
    max-width: 48ch;
}

.hero-image {
    max-width: 38vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

button {
    background-color: #3882f6;
    border-radius: 10px;
    border-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    font-size: large;
    padding: 10px 20px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text-container p {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}